.timeSeriesSection {
    text-align: center;
  }
  
  .timeSeriesSection select,
  .timeSeriesSection span {
    margin-right: 10px;
  }
  
  .timeSeriesSection > .btn {
    margin-top: 150px;
  }
  
  .error_text {
    color: #ff0000;
    margin-top: 20px;
  }

  .timeseriesCalendar{
    //position: absolute;
    display: flex;
    justify-content: center;
    padding-top:30px;
    //left: 700px;
    //top: 100px;

    > *{
      padding-left: 10px;
    }
  }



  .aggMsg{
    display:flex;
    justify-content: center;
    padding-top:30px;
    //position: absolute;
    // left: 700px;
    // top: 300px;
  }


  // .dashboardPlotContainer{
  //   display: flex;
  //   flex-wrap: wrap;
  //   //justify-content: space-evenly;
  // }