.timeSeriesSection {
    text-align: center;
  }
  
  .timeSeriesSection select,
  .timeSeriesSection span {
    margin-right: 10px;
  }
  
  .timeSeriesSection > .btn {
    margin-top: 50px;
  }
  
  .error_text {
    color: #ff0000;
    margin-top: 20px;
  }