.furtherInformation > table{
    margin-left:auto;
    margin-right:auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.furtherInformation table th {
    text-decoration: underline;
}

.description span{
    padding: 10px 5px 20px 5px;
}