.querysection {
  text-align: center;
}

.querysection select,
.querysection span {
  margin-right: 10px;
}

.querysection > .btn {
  margin-top: 50px;
}

.error_text {
  color: #ff0000;
  margin-top: 20px;
}

.calendar {
  top: 235px;
  right: 180px;
  position: absolute;
}