.dashboardContainer{
    display:flex;
    margin-top: 10px;
}

.dashboardPlotContainer{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.goalContainer{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}