.checkbox {
    padding-left: 5%;
   }
   
   .dashboardPlot{
      width:30%;
   }
   
   
   .dashboardPlot {
   
       // > img {
       //     height: 700px;
       //     width: 700px;
       // }
   
       > .dashboardPlotBlank {
           height: 480px;
           width: 480px;
       }
   }