.checkbox {
 padding-left: 5%;
}

.dashboardPlot{
   width:50%;
}


.dashboardPlot {
    > .checkbox {
        text-align: left;
    }

    > .dashboardPlotBlank {
        height: 480px;
        width: 480px;
    }
}