.btn {
  padding: 10px;
  font-size: 12px;
  border-radius: 5px;
  margin-left: auto;
  margin-top: 10px;
  margin-right: auto;
  display: inline;
}

.btn:hover {
  background-color: #d9d9d9;
  color: #ffffff;
}
